<div class="card__item-wrapper">

  <div class="card-body">

    <div class="card__item-name">
      <p class="card-name">{{data.cardName}}</p>
    </div>

    <div class="card__item-number">
      <p class="card-number">{{data.cardNumber}}</p>
    </div>

    <div class="card__item-group">
      <div class="card__item-date">
        <label class="expDate">
          Exp date:
          <span class="card-date">{{data.cardDate}}</span>
        </label>
      </div>
    </div>

    <div class="card__item-cvc">
      <p class="card-cvc">{{data.cardCVC}}</p>
    </div>


    <div class="card__item-checkbox">
        <span class="card-boolean">{{data.cardDefault}}</span>
    </div>


    <button class="item__bt-default">Default</button>

    <div class="logo">
      <span class="logo__round-red"></span>
      <span class="logo__ellipse-orange"></span>
      <span class="logo__round-orange"></span>
      <p class="logo-text"><small>mastercard</small></p>
    </div>

<!--    <div class="group__horizontal-elements">-->
<!--      <span class="h-round"></span>-->
<!--      <span class="h-round"></span>-->
<!--      <span class="h-round"></span>-->
<!--      <span class="h-round"></span>-->
<!--    </div>-->

    <div class="group__vertical-elements">
      <p class="v-round"></p>
      <p class="v-round"></p>
      <p class="v-round"></p>
    </div>


  </div>

</div>
