

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Avenir, sans-serif;
  color: #000000;
  background: #fcfcfc;
}

.form-wrapper {
  width: 720px;
  height: 815px;

}

//h1 {
//  font-size: 24px;
//  line-height: 33px;
//  letter-spacing: 1px;
//  margin: 45px 0px 45px 53px;
//  font-family: Avenir, sans-serif;
//}
